<nav class="rh-mech-navbar">
  
  <div class="brand-container" routerLink="/">
    <div class="logo-wrapper">
      <div class="lightning-ring"></div>
      <img src="/m.png" alt="RaveHouse Logo" class="brand-logo">
    </div>
    
    <div class="brand-text">
      <h2>RaveHouse</h2>
      <span class="subtitle">Üdvözöllek a RaveHousban!</span>
    </div>
  </div>

  <div class="nav-menu">
    <a routerLink="/" class="mech-btn">Bulik</a>
    <a routerLink="/shop" class="mech-btn glow-cyan">Shop 🛒</a>

    @if (!auth.isLoggedIn()) {
      <a routerLink="/login" class="mech-btn">Belépés</a>
      <a routerLink="/register" class="mech-btn glow-gold">Regisztráció</a>
    } @else {
      
      @if (auth.isAdmin()) {
        <a routerLink="/admin" class="mech-btn glow-green">🛡️ Admin</a>
      } @else {
        <a routerLink="/profile" class="mech-btn glow-cyan">👤 Profil</a>
      }

      <button (click)="onLogout()" class="mech-btn glow-red">Kijelentkezés</button>
    }
  </div>

</nav>